
.p_details button{
    padding: 5px 10px;
    border: none;
    font-weight: bold;
    background-color: skyblue;
    outline: none;
    border-radius: 2px;
}
.p_image img{
    width: 200px;
    height: 300px;

}
.p_details p:nth-child(1){
    font-weight: bold;
}
.p_details p:nth-child(2){
    color: grey;
    font-size: 0.8rem;
}
.p_details p:nth-child(3){
    font-weight: bold;
    color: grey;
}
.p_box{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    
}
article{
    width: 250px;
    padding: 20px;
}
